<mat-card>
  <mat-card-header>
    <mat-card-title>Modifers</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
        <mat-checkbox>Apologize for delay<</mat-checkbox>
        <mat-checkbox>Request for Clarification</mat-checkbox>
        <mat-checkbox>De-escalate</mat-checkbox>
        <mat-checkbox>Check me!</mat-checkbox>
      </mat-grid-tile>
      <mat-grid-tile>2
        <mat-checkbox>Apologize forf delay<</mat-checkbox>
        <mat-checkbox>Request for Clarification</mat-checkbox>
        <mat-checkbox>De-escalate</mat-checkbox>
        <mat-checkbox>Check me!</mat-checkbox>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Apply Modifers</button>
    <button mat-raised-button color="primary"> Load Modifers</button>
    <button mat-raised-button color="warn">Undo Modifers</button>
  </mat-card-actions>
</mat-card>
