<mat-card>
  <mat-card-header>
    <mat-card-title>Introduction</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Issue Summary</mat-label>
      <input matInput>
      <textarea matInput></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Adjective for Issue</mat-label>
      <mat-select>
        <mat-option value="option">Frustrating</mat-option>
        <mat-option value="option">Important</mat-option>
        <mat-option value="option">Confusing</mat-option>
        <mat-option value="option">Useful</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Adjective for Action</mat-label>
      <mat-select>
        <mat-option value="option">Happy</mat-option>
        <mat-option value="option">Glad</mat-option>
        <mat-option value="option">Ready</mat-option>
        <mat-option value="option">Willing</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Statement of Action</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-raised-button>Inject</button>
  </mat-card-actions>
</mat-card>
