<mat-card>
  <mat-card-header>
    <mat-card-title>Ticket Bot</mat-card-title>
  </mat-card-header>
    <div class="example-container">
      <hr>
      <mat-select>
        <mat-option value="option"></mat-option>
        <mat-option value="option">Intial Message</mat-option>
        <mat-option value="option">Follow-Up Message</mat-option>
        <mat-option value="option">Closing Message</mat-option>
      </mat-select>
      <hr>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Introduction
            </mat-panel-title>
            <mat-panel-description>
              Create Opening Response
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-introduction></app-introduction>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Modifiers
            </mat-panel-title>
            <mat-panel-description>
              Add Modifer Paragraphs
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-modifiers></app-modifiers>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Solutions
            </mat-panel-title>
            <mat-panel-description>
              Outline Solutions to Issues
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Solutions</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <hr>
              <mat-card-subtitle>Intial Response</mat-card-subtitle>
              <mat-card>
                <mat-form-field appearance="fill">
                <mat-label>Solution</mat-label>
                  <textarea rows="10" class="solution" matInput></textarea>
                </mat-form-field>
                <mat-card-actions>
                  <button mat-raised-button color="primary">Inject</button>
                  <button mat-raised-button color="warn">Remove</button>
                </mat-card-actions>
              </mat-card>
              <hr>
              <mat-card-subtitle>Alternative Response</mat-card-subtitle>
              <mat-card>
                <mat-form-field appearance="fill">
                <mat-label>Solution</mat-label>
                  <textarea rows="10" class="solution" matInput></textarea>
                </mat-form-field>
                <mat-card-actions>
                  <button mat-raised-button color="primary">Inject</button>
                  <button mat-raised-button color="warn">Remove</button>
                </mat-card-actions>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Response
            </mat-panel-title>
            <mat-panel-description>
              Output of Response to Client
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-responses></app-responses>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Response Parser
            </mat-panel-title>
            <mat-panel-description>
              Input Response To Be Parsed
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-parser></app-parser>
        </mat-expansion-panel>
      </mat-accordion>
     </div>
</mat-card>
<router-outlet></router-outlet>
